/* colors: #343A40 #FFC107 #7952B3 #E1E8EB */

body{
  margin : 0;
text-align: center;
font-family: 'Merriweather', serif;

}

h1{
  color: #FFC107 ;
  font-family: 'Shadows Into Light', cursive;
  margin: 50px auto 0 auto;
  font-size: 5.625rem;


}

h2{
  color: #FFC107 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #FFC107 ;
}
a{
  color: #FFC107 ;
}
.top_div{
  background-color: #343A40 ;
  position: relative;
  padding-top: 50px;

}
.middle_div{
  padding: 50px;
  background-color: #343A40;
}
.bottom_div{
  background-color: #7952B3;
  padding: 2.5rem;
 
}
.top_cloud{
  position: absolute;
  right:300px;
  top:50px
}

.bottom_cloud{
  position: absolute;
  left:300px;
  bottom:300px
}
.profile{
  padding-top: 50px;

}
.my_info{
  margin: 0 31.25rem 0 31.25rem;
  line-height: 2;
  color: #E1E8EB;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;


}
.skill1_img{
  width:25%;
  float: left;
  margin-right: 30px;

}
.skill2_img{
  width:25%;
  float: right;
  margin-left: 30px;

}
hr {
  width: 10%;
  border-style: dotted none none none;
  border-width: 10px;
  border-color: #7952B3;

}
p{
  color: #E1E8EB;
}
a{
  padding-right: 1.875rem;

}
.mark{
  margin-top: 50px;
  text-align: center
}
.btn{
   background: #FFC107;
   background-image: -webkit-linear-gradient(top, #FFC107, #FFC107);
   background-image: -moz-linear-gradient(top, #FFC107, #FFC107);
   background-image: -ms-linear-gradient(top, #FFC107, #FFC107);
   background-image: -o-linear-gradient(top, #FFC107, #FFC107);
   background-image: -webkit-gradient(to bottom, #FFC107, #FFC107);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 18px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #7952B3 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #7952B3);
   background-image: -moz-linear-gradient(top, #1E62D0, #7952B3);
   background-image: -ms-linear-gradient(top, #1E62D0, #7952B3);
   background-image: -o-linear-gradient(top, #1E62D0, #7952B3);
   background-image: -webkit-gradient(to bottom, #1E62D0, #7952B3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
